
.intro-letters {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.intro-letters li {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 5em;
  font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
  font-weight: 600;
}

.intro-letters li:not(:last-child) {
  margin-right: 20px;
}

.special-intro-letter img{
  height: 2em;
  object-fit: cover;
  margin-bottom: -20%;
}

.intro-slogan {
  /*color: #47e9b4;*/
  color: #000000;
  font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%)
}

body {
  font-family: 'Roboto';
  margin:0;
  padding:0;
    }
#particles-js {
  height: 100vh;
  /*background: white;*/
}
hr.line{
  margin: 0;
  border: 1px solid black;
  width: 20px;
}
hr.line2{
  margin: 0;
  border: 1px solid white;
  width: 20px;
}

.top {
  z-index: 15;
  background-color: transparent;
  padding-top:3%;
  position: fixed;
  width: 100%;
  font-size: 20px;
}
.logo {
  display: inline-block;
  margin-right: 60%;
  margin-left:5%;

}
/*.about {
  text-decoration: none;
  display: inline-block;
  margin-right: 10%;
  font-weight: bold;
  color: black;
}
.about:hover{
  color: gray !important;
  transition: 1s;
}*/
.contact {
  margin-left: 10%;
    text-decoration: none;
  display: inline-block;
font-weight: bold;
color: black;
}
.contact:hover{
  color: gray !important;;
  transition: 1s;
}
.middle {
  padding-top: 12%;
  position: absolute;
  margin-left: 25%;
  margin-right: 10%;
  font-size: 60px;
  color: black;
}
.middleB {
  padding-top: 12%;
  position: absolute;
  margin-left: 40%;
  margin-right: 20%;
  font-size: 30px;
  color:  #666666;
}
.bottom {
  height: 50vh;
  position: relative;
  color: #42f4d4;
}
.image {
  margin-left: 15%;
  margin-top: 28%;
  position: absolute;
  filter: brightness(50%);
}

.bottom-text{
  padding-top: 10%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 50px;
}
.image2 {
  filter: brightness(70%);
  margin-left: 5%;
  width: 40%;
  transition: transform .3s;
  margin-bottom: 5%;
  display: inline-block;
}
.image2:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}
.image3 {
  filter: brightness(70%);
  margin-left: 5%;
display: inline-block;
  transition: transform .3s;
  margin-bottom: 5%;
}
.image3:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}
.bottom2 {
  height: .1vh;
  position: relative;
  background-color: gray;
}
.contact-section {
  background-color: #1a1a1a;
  height: 100vh;
}
.contact-section-text {
  margin-top: 20%;
  margin-left: 20%;
  color: white;
  position: absolute;
  font-size: 20px;
}
.email {
  margin-top: 25%;
  margin-left: 20%;
  color: #47e9b4;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
}
.email:hover {
  color: #60e9b4;
  transition: .5s;
}
a {
  text-decoration: none;
}
/*
@media screen and (max-width: 1080px) {
  .middle {
    padding-top: 32%;

    font-size: 60px;
    color: black;
  }
  .middleB {
    padding-top: 52%;

    font-size: 30px;
    color:  #666666;
  }
  .image {

    margin-top: 68%;
    filter: brightness(50%);
  }
}*/
