

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
    pointer-events: none;

  }

#intro-screen {
  position: absolute; width: 100%; height: 100%; z-index: 10; background-color: #000000;
}
.intro-letters {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.intro-letters li {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 5em;
  font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
  font-weight: 600;
}

.intro-letters li:not(:last-child) {
  margin-right: 20px;
}

.special-intro-letter img{
  height: 2em;
  object-fit: cover;
  margin-bottom: -20%;
}
body {
  font-family: 'Indie Flower', cursive;
  margin:0;
  padding:0;
    }
#particles-js {
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
    left: 0;
    width: 98vw;
}
.navigation-bar {
  z-index: 15;
  background-color: transparent;
  padding-top:3%;
  position: fixed;
  width: 100%;
  font-size: 20px;
  top:0;
  left:0;
}
  .logo {
    display: inline-block;
    width: 55%;
    padding-left: 5%;
    text-align: left;
  }
  .contact {
  width: 25%;
  text-align: right;
  padding-right: 5%;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: black;
  }
  .contact:hover{
    color: gray !important;;
    transition: 1s;
  }

.container-sectionA {
  height: 50vh;
}
  .section-A {
    margin-top: 12%;
    width: 60%;
    margin-left: 25%;
    position: fixed;
  }
  .middleA {
    display: inline-block;
    width: 30%;

  }
  hr.line{
    margin: 0;
    border: 1px solid black;
    width: 4px;
  }
  .hello {
    font-size: 60px;
    display: inline-block;
  }
  .middleB {
    display: inline-block;
    font-size: 30px;
    color:  #666666;
    width: 69%;
  }
.container-sectionB {
  height: 63vh;
  position: relative;

}
  img.dallas {
    height: 38vw;
    margin-left: 5%;
    position: relative;
    transition: .5s;

  }
  img.dallas:hover {
    filter: sepia(100%);
  }
  .dallas-word-group {
    position: absolute;
    bottom: 0px;
    pointer-events: none;
  }
  .dallas-text {
    font-size: 40px;
    color: #42f4d4;
  }
  hr.line2{
    margin: 0;
    left:0;
    border: 1px solid white;
    width: 20px;
  }
  .sectionB {
    margin-left: 10%;
  }
.container-sectionC {
  height: 60vh;
}
  .f1 {
    margin-top: 10%;
  }
  ul {
    list-style-type: none;
  }
  li a {
    color: #e1e6ef;
    font-size: 3vw;
    text-decoration: none;
    left: 5%;
    position: relative;

  }
  /*effect-box*/
a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.bottom2 {
  height: .1vh;
  position: relative;
  background-color: gray;
}
  .contact-section {
    background-color: #1a1a1a;
    height: 100vh;

  }
  .contact-section-text {
    margin-top: 20%;
    margin-left: 20%;
    color: white;
    position: absolute;
    font-size: 20px;
    z-index: 3;
  }
  .email {
    margin-top: 25%;
    margin-left: 20%;
    color: #47e9b4;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
  }
  @media screen and (max-width: 1020px) {
    #intro-screen {
      display: none;
    }
    .bottom2 {
      display: none;
    }
    .contact-section {
      background-color: inherit !important;
    }
    .f1 {
      padding-top: 30% !important;
    }
    .email {
      margin-left: 10% !important;
    }
    .section-A {
      margin-top: 32% !important;
      margin-left: 16% !important;
      position: relative !important;
      width: 100% !important;
    }
    .dallas-word-group {
      bottom: auto !important;
      margin-top: 5vh;
    }
    .hello {
      font-size: 25px !important;
    }
    .middleB {
      font-size: 20px !important;
    }
    .container-sectionA {
      height: 50% !important;
    }
    .container-sectionB {
      position: relative !important;
      height: 20vh !important;
    }
    li a {
      color: white !important;
    }
    .contact-section {
      height: 30vh !important;
      width: 100% !important;
    }


    .trail {
      display: none;
    }
  }
